
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$green: #7BBF6A;
$orange: #F2A65A;
$red: #E05D44;
$purple: #9A6ECC;
$yellow: #F0C674;
$pink: #FF6C60;
$cyan: #B3E5FC;
$darkerRed: #CC0000;
$darkerGreen: #008000;
$darkerBlue: #0000CC;
$darkerOrange: #FF6600;
$darkerPurple: #660066;
$darkerYellow: #CC9900;
$darkerPink: #FF0066;
$darkerCyan: #00CCCC;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}